.chart {
    flex: 6;
    box-shadow: 0px 11px 22px -4px rgba(0, 0, 0, 0.62);
    -webkit-box-shadow: 0px 11px 22px -4px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 0px 11px 22px -4px rgba(0, 0, 0, 0.62);
    border-radius: 10px;

    max-height: fit-content;



    padding: 30px;

    .top {
        display: flex;
        gap: 20px;

        .icon {
            font-size: 40px;
            color: #4a4a4a;
            color: rgb(108, 175, 8);

        }

        .title {
            font-size: 25px;
            font-weight: 700;
            color: #434141;
        }

        .desc {
            font-size: 15px;
            color: #4a4a4a;
            margin-top: 5px;
        }


    }

    .graph {
        background-color: #F1F3CE;
        margin-top: 20px;
        padding: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 10px;
        box-shadow: 0px 11px 22px -4px rgba(0, 0, 0, 0.62);
        -webkit-box-shadow: 0px 11px 22px -4px rgba(0, 0, 0, 0.62);
        -moz-box-shadow: 0px 11px 22px -4px rgba(0, 0, 0, 0.62);

    }


}