.home{
   display: flex;
   background: linear-gradient(#fefae0, #60e04a);
   max-height: 100vh;

   .homecontainer{
        
      flex: 10;
      overflow-y: scroll;

      .widgets, .charts{
         display: flex;
         flex-wrap: wrap;
         gap: 30px;
         flex-direction: row;
         padding: 20px;
         margin: 10px;
      }

      .charts{
         padding-top: 15px;
      }
   }

   @media screen and (max-width: 768px) {
        flex-direction: column;
        
        .homecontainer {
            .widgets {
                flex-direction: column;
                gap: 20px;
            }
            
            .charts {
                flex-direction: column;
                gap: 25px;
                margin-right: 70px;
            }
        }
   }


}