.widget {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
    padding: 15px;
    padding-top: 20px;

    box-shadow: 0px 11px 22px -4px rgba(0, 0, 0, 0.62);
    -webkit-box-shadow: 0px 11px 22px -4px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 0px 11px 22px -4px rgba(0, 0, 0, 0.62);

    height: 130px;
    border-radius: 12px;
    
    .title{
        font-size: 20px;
        font-weight: bold;
        
    }

    .counter{
        font-size: 35px;
        font-weight: bold;
        color: #555;
        margin-top: 10px;
    }

    .subtext{
        font-size: 15px;
        color: #5b5858;
        margin-top: 3px;
    }

    @media screen and (max-width: 768px) {
        flex: none;
        width: 90%;
        height: auto;
        min-height: 120px;
    }


}