.coupon {
    display: flex;
    background: linear-gradient(#fefae0, #60e04a);
    max-height: 100vh;

    .couponContainer {

        flex: 10;
        overflow-y: scroll;


        .top {
            padding: 20px;

            h2 {
                font-size: 24px;
                font-weight: 800;
                margin-bottom: 5px;
            }

            p {
                font-size: 18px;
                font-weight: 500;
                color: #333;
            }
        }

        .center {
            display: flex;
            align-items: center;
            padding: 20px;
            justify-content: space-between;

            .searchsection {
                display: flex;
                align-items: center;
                background: transparent;
                border-radius: 10px;
                padding: 10px;
                width: 50%;

                box-shadow: 0px 11px 22px -4px rgba(0, 0, 0, 0.62);
                -webkit-box-shadow: 0px 11px 22px -4px rgba(0, 0, 0, 0.62);
                -moz-box-shadow: 0px 11px 22px -4px rgba(0, 0, 0, 0.62);


                input {
                    width: 90%;
                    height: 20px;
                    border-radius: 5px;
                    border: none;
                    padding-left: 10px;
                    font-size: 18px;
                    color: #333;
                    background: transparent;

                    &:focus {
                        outline: none;
                    }
                }

            }
        }

        .bottom{
            display: flex;
            gap: 18px;
            
            
            
            justify-content: space-between;
            padding: 20px;
        }


    }
}