.owned{
    display: flex;
    background: linear-gradient(#fefae0, #60e04a);
    max-height: 100vh;

    .ownedcontainer{
        flex:10;
        overflow-y: scroll;
        padding: 10px;

        .status{
            display: flex;
            justify-content: space-evenly;
            margin-top: 30px;
            background-color: #fefae0;
            border-radius: 50px;

            .box{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 5px;
                width: 200px;
                height: 100px;
                

                h2{
                    font-weight: 800;
                    
                }

                p{
                    font-weight: 400;
                    font-size: 1rem;
                }

            }
        }

    }



    @media screen and (max-width: 768px) {
        flex-direction: column;
        .ownedcontainer{
            flex: 1;
            padding: 5px;

            .status{
                
                align-items: center;


                .box{
                    width: 50%;
                    margin-bottom: 10px;
                }
            }
        }
        
    }
}