// EditProfileBox.scss

.profile-box {
  width: 87%;
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      margin: 0;
      font-size: 24px;
    }

    button {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 6px 12px;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  .photo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    

    .photo-circle {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      overflow: hidden;
      border: 3px solid #ccc;
      margin-bottom: 12px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    input[type="file"] {
      
    }
  }

  .info-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;

    label {
      display: flex;
      flex-direction: column;
      font-weight: 500;

      input {
        margin-top: 6px;
        padding: 8px;
        border-radius: 6px;
        border: 1px solid #ccc;
        font-size: 16px;

        &:disabled {
          background-color: #f5f5f5;
          cursor: not-allowed;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 30px;

    .header {
      flex-direction: row;
      align-items: center;

      h2 {
        font-size: 20px;
      }

      button {
        width: 20%;
        margin-top: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        
      }
    }

    .photo-circle {
      width: 120px;
      height: 120px;
      
    }

    .info-section label input {
      font-size: 14px;
    }
  }
}
